/* Input container */
.inputContainer {
  position: relative;
  margin: 20px 20px 40px 20px;
}

/* Input field */
.inputField {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

/* Input label */
.inputLabel {
  position: absolute;
  top: -25px;
  left: 0;
  font-size: 16px;
  color: #8f0000;
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Input highlight */
.inputHighlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #8f0000;
  transition: all 0.3s ease;
}

.inputField:focus + .inputLabel + .inputHighlight {
  width: 100%;
}
